//@@include('inc/header.html')

<!-- Section: Main -->
<main class="section main">

    <section class="section header">
        <div class="container">
            <div class="section-line-top">
                <div class="logo">
                    <a href="#"><img src="https://i.imgur.com/5QCsMmq.png" alt=""></a>
                    <a href="#">
                        <div class="text">STRICT</div>
                    </a>
                </div>
            </div>
        </div>        
    </section>

    <section class="section content" style="background-image:url(assets/img/img.png)">
        <div class="container">
            <div class="section-title">
                <div class="title"><a href="#">STRICT</a></div>
                <div class="subtitle">STRICT is a responsive theme with a a clean and minimal look.</div>
            </div>

            <div class="section-button">
                <a href="#works">
                    <div class="ui style color button">Call to action</div>
                </a>
            </div>
            <div class="section-control">
                <div class="icon"><a href="#simple"><img src="assets/img/Icon.png" alt=""></a></div>
            </div>
        </div>
    </section>

    <section class="section simple" id="simple">
        <div class="container">
            <div class="section-title">

                <div class="title">Simple & pure design.</div>
                <div class="subtitle">Designers everywhere gush with admiration upon seeing a web design and exclaim
                    "its beautiful, it's so clean!". There are a <br> countless number of webdesign round-ups dedicated
                    to
                    'clean' design and it is a term thrown around quite a bit in the web <br> design community. It can
                    be
                    easy to spot a good example of clean design.</div>
            </div>

            <div class="section-features">
                <div class="row  ">
                    <div class="col-md-4 ">
                        <div class="element">
                            <div class="item">
                                <a href=""><img src="assets/img/Icon1.png" alt="" class="icon"></a>
                            </div>
                            <div class="name">Optimized for all devices</div>
                            <div class="text">STRICT has been designed to be fully <br> responsive on all devices</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="element">
                            <div class="item">
                                <a href=""><img src="assets/img/Icon2.png" alt="" class="icon"></a>
                            </div>
                            <div class="name">Clean & Minimal Design</div>
                            <div class="text">This multipurpose theme is especially created <br> to be used for
                                different projects.</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="element">
                            <div class="item">
                                <a href=""><img src="assets/img/Icon3.png" alt="" class="icon"></a>
                            </div>
                            <div class="name">Font Awesome Icon</div>
                            <div class="text">This multipurpose theme is especially created <br> to be used for
                                different projects.</div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section works" id="works">

        <div class="container">

            <div class="section-hero">

                <div class="title">Showcase your work like a pro.</div>
                <div class="subtitle">Contact me if you like my work</div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg1.png" data-fancybox="images">
                                <img src="assets/img/bg1.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg2.png" data-fancybox="images">
                                <img src="assets/img/bg2.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg3.png" data-fancybox="images">
                                <img src="assets/img/bg3.png" alt="" />
                            </a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg4.png" data-fancybox="images">
                                <img src="assets/img/bg4.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg5.png" data-fancybox="images">
                                <img src="assets/img/bg5.png" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <a href="assets/img/bg6.png" data-fancybox="images">
                                <img src="assets/img/bg6.png" alt="" />
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </section>

    <section class="section subscribe" style="background-image:url(assets/img/bg7.png)">
        <div class="container">
            <div class="section-title">
                <div class="title">Stay with us</div>
                <div class="subtitle">We ensure quailty & support</div>

            </div>

            <div class="section-form">

                <form action="" method="POST">

                    <input class="name" type="text" placeholder="Full Name">
                    <input class="adress" type="text" placeholder="Email Address">
                    <textarea class="message" placeholder="Message"></textarea>
                    <div class="top"> <input type="checkbox" name="" class="box">
                        <label for="" class="label">Subscribe Newsletter</label>
                        <div class="ui style size color button">Send</div>
                    </div>
                   

                </form>

            </div>

        </div>
    </section>   

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')